body {
    background:#d3d3d3;
}

.wrap {
    width: 750px;
    margin: 0 auto 0 auto;
    padding: 5px;
    border: 1px solid #a9a9a9;
    background: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;
}

.main {
    float:left;
    width:500px;
}

.sidebar {
    float:right;
    width:250px;
}

.header {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
    background: #cc0000;
    color: #ffffff;
    margin-bottom: 10px;
}

.contents {
    min-height: 200px;
}

.footer {
    clear:both;
    padding:5px 10px;
    font-size: x-small;
    border: 1px solid #a9a9a9;
}

.sidebar_heading {
    font-size: small;
    font-weight: bold;
}

.sidebar_info {
    font-size: small;
    margin-left: 10px;
}

.inline_action {
    font-size: small;
}