<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="header"><h1>#{messages.site_title}</h1></ui:define>
            <ui:define name="contents">
                <div class='contents'>
                    <h2>#{messages.page_title_add}</h2>
                    <h:form>
                        <h:panelGrid columns="2">
                            <h:outputText value="#{messages.column_description}" />

                            <h:inputText value="#{toDoBean.item.description}" label="#{messages.column_description}"/>
                        </h:panelGrid>

                        <h:commandButton value="#{messages.label_add}" action="#{toDoBean.addConfirmedItem}" />
                        <h:commandButton value="#{messages.label_cancel}"
                                         action="#{toDoBean.cancelConfirmedItem}" />
                    </h:form>
                </div>

            </ui:define>
            <ui:define name="sidebar">
                <h:messages/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
