<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="header"><h1>#{messages.site_title}</h1></ui:define>
            <ui:define name="contents">
                <div class='contents'>
                    <h2>#{messages.page_title_items}</h2>
                    <h:form>
                        <h:dataTable value="#{toDoBean.items}" var="item">
                            <h:column>
                                <f:facet name="header">#{messages.column_id}</f:facet>
                                    #{item.id}
                            </h:column>
                            <h:column>
                                <f:facet name="header">#{messages.column_description}</f:facet>
                                <h:outputText value="#{item.description}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">#{messages.column_action}</f:facet>
                                <h:commandLink class="inline_action" value="#{messages.label_edit}"
                                               action="#{toDoBean.editItem(item)}" />
                                |
                                <h:commandLink class="inline_action" value="#{messages.label_delete}"
                                               action="#{toDoBean.deleteItem(item)}" />
                            </h:column>
                        </h:dataTable>
                    </h:form>
                    <a href='add.jsf'>#{messages.label_add_new_item}</a>
                </div>
            </ui:define>
            <ui:define name="sidebar">
                <p class="sidebar_heading">#{messages.label_lastupdated}</p>
                <h:outputText class="sidebar_info" value="#{toDoBean.lastRefresh}">
                    <f:convertDateTime dateStyle="full" type="both" timeZone="#{toDoBean.timeZone}"/>
                </h:outputText>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
