<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans'
              rel='stylesheet' type='text/css' />
        <link href="css/style.css" rel="stylesheet" />
    </h:head>
    <h:body>
        <div class="wrap">

            <div class='header'>
                <ui:insert name="header">Header</ui:insert>
            </div>

            <div class='main'>
                <ui:insert name="contents">Contents</ui:insert>
            </div>

            <div class="sidebar">
                <ui:insert name="sidebar"></ui:insert>
            </div>
            <div class="footer">
                <p>#{messages.site_copyright}</p>
            </div>
        </div>

    </h:body>
</html>